.h1 {
  padding: 50px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 50px;
  background-color: rgb(0, 54, 36);
  background-image: url(./../assets/images/pexels-zukiman-mohamad-22185.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 140px;
}
.navlist {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 24px;
  text-transform: uppercase;
  justify-content: end;
  margin: 40px;
  color: rgb(255, 213, 0);
  li {
    &:focus,
    &:hover {
      color: white;
    }
    
  }
}
.products--grid {
  display: flex;
  flex-direction: column;
  margin: 40px 40px 70px 40px;

  div {
    img {
      width: 100%;
      border-radius: 10px;
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
    h4 {
      color: white;
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 40em) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
  @media screen and (min-width: 62em) {
    grid-template-columns: repeat(5, 1fr);
  }
}
.displaybox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.messageError {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear 0.5s;
  &.invalid {
    opacity: 1;
  }
}
.style-box {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}

footer {
  background-color: rgb(0, 54, 36);
  color: rgb(255, 213, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 25px;
  margin: 0cm;
  position: fixed;
  z-index: 1;
  bottom: 0;
  p {
    font-size: 12px;
  }
}
